.nav-bottom{
	
	color: #fff;
	font: normal;

}
.nav-sidebar{
	float: right;

}
#nav-horizontal li{
	display: inline;/* 各个标签之间水平放置 */
}
#nav-horizontal a{
	display: inline-block;/* 各个标签之间水平放置 */
	background-color: #5333;
}