<nav id="nav-horizontal">
	<ul class="{{include.navclass}}">	
		<li><a href="{{site.baseurl}}/index.html">HOME</a></li>

		<li>
			<a href="{{site.baseurl}}/nav_index/html_and_css.html">html&css</a> <!-- 导航键根据文件title属性 -->
		</li>

		<li>
			<a href="{{site.baseurl}}/nav_index/Artical.html" >Articial</a> <!-- 导航键根据文件title属性 -->
		</li>

		<li>
			<a href="{{site.baseurl}}/nav_index/Linux.html">Linux</a> <!-- 导航键根据文件title属性 -->
		</li>
		
		<li>
			<a href="{{site.baseurl}}/nav_index/bioinformatic_note.html">Bioinformatic</a> <!-- 导航键根据文件title属性 -->
		</li>
		<li>
			<a href="{{site.baseurl}}/nav_index/php_learn.html">PHP_learn</a>
		</li>


	</ul>
</nav>
