<nav id="nav-horizontal">
	<ul class="{{include.navclass}}">	
		<li><a href="{{site.baseurl}}/index">HOME</a></li>

		<li>
			<a href="{{site.baseurl}}/html_and_css.html">html&css</a> <!-- 导航键根据文件title属性 -->
		</li>

		<li>
			<a href="{{site.baseurl}}/Articial/" >Articial</a> <!-- 导航键根据文件title属性 -->
		</li>

		<li>
			<a href="{{site.baseurl}}/Linux/">Linux</a> <!-- 导航键根据文件title属性 -->
		</li>
		
		<li>
			<a href="{{site.baseurl}}/bioinformatic_note/">Bioinformatic</a> <!-- 导航键根据文件title属性 -->
		</li>


	</ul>
</nav>
