    	@media screen and (min-width: 320px) {
    	html {font-size: 3px;}
		}   

		@media screen and (min-width: 320px) {
    	html {font-size: 3px;}
		}
		@media screen and (min-width: 1024px) {
    	html {font-size: 8px;}
		}
         html { 
            /* 强制对滑动块进行操作 */
         overflow-x: hidden;
         overflow-y: scroll;  
            }
        section{
/* 背景图片自动适应 */
            background-size: cover!important;
            background-repeat: no-repeat;
            /* 高度为视窗高度 */
           /* min-height: 100vh;*/
            background-attachment: scroll;
        }
        .mbr-overlay{
            /* 定义滤镜框 */
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
            opacity: 0.6;
            background-color: rgb(1,1,1);
        }

        .typing{
            /* 打字的动画 */
            color: #fff;
            overflow: hidden;
            border-right: .15em solid orange;
            white-space: nowrap;
            margin:0 auto;
            letter-spacing: .30em;
            animation: 
            typing 6s steps(40,end),
            blink-caret 1s  step-end infinite,
            show 1s;
            animation-delay: 0.3s;

        }
        #next-skill{
        /* 这里一定要使用id选择器不然锚不正常 */
         position:absolute;left: 45%;
         right: 45%; 
         background-color: rgba(60, 80, 80, 0.5);
         width: 60px;
         height: 60px;
         border-radius: 50%;
        }
        .fontanimation{
        /* 设置字体在园内垂直居中 */
        font-size: 5rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);color:#fff;
        animation: fontanimation 1s ease-in-out 5s infinite alternate;
        }
        @keyframes fontanimation{
        from{transform:translate(0,-50%)}
        to{transform:translate(0,-30%)}
        }
        @keyframes typing{
            from{width: 0;display: block;}
            to{width: 100%;display: block;}
        }
        @keyframes blink-caret{
            50%{border-color: transparent;}
        }
